<?xml version="1.0"?>

<model>
  <name>step_pallets_1</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Carlos Mastalli</name>
    <email>carlos.mastalli@iit.it</email>
  </author>

  <description>
    This is an scenario for testing locomotion that consists in pallets with stepping blocks in the middle.
  </description>
</model>
