<?xml version="1.0" encoding="utf-8"?>

<launch>

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find anymal_elevation_mapping)/config/rosconsole.conf"/>

  <!-- Set the point cloud sensor type -->
  <arg name="sensor" default="realsense"/>

  <!-- Launch elevation mapping -->
  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find anymal_ori)/config/$(arg sensor).yaml"/>
    <rosparam if="$(eval sensor == 'actuated_lidar')" command="load" file="$(find elevation_mapping)/config/sensor_processors/hokuyo_utm-30lx.yaml"/>
    <rosparam if="$(eval sensor == 'velodyne')"       command="load" file="$(find elevation_mapping)/config/sensor_processors/velodyne_HDL-32E.yaml"/>
    <rosparam if="$(eval sensor == 'realsense')"      command="load" file="$(find elevation_mapping)/config/sensor_processors/realsense_ZR300.yaml"/>
  </node>

</launch>
