<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Specify if the software runs in simulation -->
  <arg name="simulation"               default="false"/>
  <!-- Name of the world -->
  <arg name="world"                    default="empty"/>
  <!-- Set the name of the robot -->
  <arg name="quadruped_name"           default="anymal"/>
  <!-- Enable/disable the actuated lidar -->
  <arg name="run_actuated_lidar"       default="true"/>
  <!-- Enable/disable the velodyne -->
  <arg name="run_velodyne"             default="true"/>
  <!-- Enable/disable the ICP -->
  <arg name="run_icp"                  default="true"/>
  <!-- Set ICP sensor (actuated_lidar/velodyne) -->
  <arg name="icp_sensor"               default="velodyne"/>
  <!-- Specify if ICP mapper should load a map on launch -->
  <arg name="load_map_on_launch"       default="false"/>
  <!-- Set the initial map for ICP mapper -->
  <arg name="load_map_on_launch_path"  default=""/>
  <!-- Enable/disable the elevation mapping -->
  <arg name="run_elevation_mapping"    default="true"/>
  <!-- Set elevation mapping sensor (actuated_lidar/velodyne/realsense) -->
  <arg name="elevation_mapping_sensor" default="realsense"/>

  <!-- Actuated lidar -->
  <group if="$(arg run_actuated_lidar)">
    <include file="$(find anymal_actuated_lidar)/launch/actuated_lidar.launch">
      <arg name="simulation"  value="$(arg simulation)"/>
      <arg name="config_file" value="$(find anymal_nav_sim)/config/actuated_lidar/actuated_lidar.yaml"/>
    </include>
  </group>

  <!-- Velodyne -->
  <group if="$(arg run_velodyne)">
    <include file="$(find anymal_velodyne)/launch/velodyne.launch">
      <arg name="simulation" value="$(arg simulation)"/>
    </include>
  </group>

  <!-- ICP -->
  <group if="$(arg run_icp)">
    <!-- ICP localizer -->
    <include file="$(find icp_localizer)/launch/icp_localizer.launch">
      <arg name="sensor" value="$(arg icp_sensor)"/>
    </include>

    <!-- ICP mapper -->
    <include file="$(find icp_mapper)/launch/icp_mapper.launch">
      <arg name="sensor"                  value="$(arg icp_sensor)"/>
      <arg name="load_map_on_launch"      value="$(arg load_map_on_launch)"/>
      <arg name="load_map_on_launch_path" value="$(arg load_map_on_launch_path)"/>
    </include>
  </group>

  <!-- Elevation mapping -->
  <group if="$(arg run_elevation_mapping)">
    <include file="$(find anymal_ori)/launch/elevation_mapping.launch">
      <arg name="sensor" value="$(arg elevation_mapping_sensor)"/>
    </include>
  </group>

</launch>
