<launch>

  <include file="$(find anymal_ori)/launch/nav_sim.launch">
    <arg name="world"                    value="oil_rig_stairs"/>

    <!-- at the top of the downward staircase -->
    <!--
    <arg name="x"                                       default="2.35"/>
    <arg name="y"                                       default="0.0"/>
    <arg name="z"                                       default="1.6"/>
    <arg name="roll"                                    default="0.0"/>
    <arg name="pitch"                                   default="0.0"/>
    <arg name="yaw"                                     default="0.0"/>
    -->    
  </include>
</launch>